<a href="https://colab.research.google.com/github/AhmedAlaoui/Projet/blob/master/Classification_Potholes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing required libraries.
import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
%matplotlib inline 
sns.set(color_codes=True)

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
# Save output in a variable `df`

%%bigquery --project mcgill-project-r311 df
SELECT 
  *
FROM `mcgill-project-r311.Project_C.Classification_dataset`

In [ ]:
df.head(5)

    ID_TRC  calls_2016  potholes_2016  ...  T19  T20  CAMION
0  4010485           0              0  ...  0.0  0.0     0.0
1  4002668           0              0  ...  0.0  0.0     0.0
2  1623936           0              0  ...  0.0  0.0     0.0
3  4014707           0              0  ...  0.0  0.0     NaN
4  4014698           1              0  ...  0.0  0.0     NaN

[5 rows x 34 columns]

In [ ]:
df.describe()

             ID_TRC    calls_2016  ...           T20        CAMION
count  4.756800e+04  47568.000000  ...  47568.000000  42624.000000
mean   2.205135e+06      0.136731  ...      0.017459      2.511472
std    1.166529e+06      0.663820  ...      0.075441      0.827670
min    1.010001e+06      0.000000  ...      0.000000      0.000000
25%    1.450165e+06      0.000000  ...      0.000000      2.000000
50%    1.612020e+06      0.000000  ...      0.000000      3.000000
75%    4.002741e+06      0.000000  ...      0.000000      3.000000
max    4.017159e+06     28.000000  ...      2.100000      3.000000

[8 rows x 31 columns]

In [ ]:
df.dtypes

ID_TRC                 int64
calls_2016             int64
potholes_2016          int64
freeze_thaw_2016       int64
snow_removal_2016      int64
calls_2017             int64
potholes_2017          int64
freeze_thaw_2017       int64
snow_removal_2017      int64
calls_2018             int64
potholes_2018          int64
freeze_thaw_2018       int64
snow_removal_2018      int64
calls_2019             int64
potholes_2019          int64
freeze_thaw_2019       int64
snow_removal_2019      int64
calls_2020             int64
potholes_2020          int64
freeze_thaw_2020       int64
snow_removal_2020      int64
NOM_VOIE              object
affectation           object
TYP_VOIE              object
CLASSE                 int64
SENS_CIR               int64
length               float64
Etat_PCI             float64
T16                  float64
T17                  float64
T18                  float64
T19                  float64
T20                  float64
CAMION               float64
dtype: object

In [ ]:
df.set_index("ID_TRC", inplace=True)
df.head(5)

         calls_2016  potholes_2016  freeze_thaw_2016  ...  T19  T20  CAMION
ID_TRC                                                ...
4010485           0              0                86  ...  0.0  0.0     0.0
4002668           0              0                86  ...  0.0  0.0     0.0
1623936           0              0                86  ...  0.0  0.0     0.0
4014707           0              0                86  ...  0.0  0.0     NaN
4014698           1              0                86  ...  0.0  0.0     NaN

[5 rows x 33 columns]

In [ ]:
df.count()

calls_2016           47568
potholes_2016        47568
freeze_thaw_2016     47568
snow_removal_2016    47568
calls_2017           47568
potholes_2017        47568
freeze_thaw_2017     47568
snow_removal_2017    47568
calls_2018           47568
potholes_2018        47568
freeze_thaw_2018     47568
snow_removal_2018    47568
calls_2019           47568
potholes_2019        47568
freeze_thaw_2019     47568
snow_removal_2019    47568
calls_2020           47568
potholes_2020        47568
freeze_thaw_2020     47568
snow_removal_2020    47568
NOM_VOIE             47568
affectation          47568
TYP_VOIE             47568
CLASSE               47568
SENS_CIR             47568
length               47568
Etat_PCI             13619
T16                  47568
T17                  47568
T18                  47568
T19                  47568
T20                  47568
CAMION               42624
dtype: int64

In [ ]:
print(df.isnull().sum())

calls_2016               0
potholes_2016            0
freeze_thaw_2016         0
snow_removal_2016        0
calls_2017               0
potholes_2017            0
freeze_thaw_2017         0
snow_removal_2017        0
calls_2018               0
potholes_2018            0
freeze_thaw_2018         0
snow_removal_2018        0
calls_2019               0
potholes_2019            0
freeze_thaw_2019         0
snow_removal_2019        0
calls_2020               0
potholes_2020            0
freeze_thaw_2020         0
snow_removal_2020        0
NOM_VOIE                 0
affectation              0
TYP_VOIE                 0
CLASSE                   0
SENS_CIR                 0
length                   0
Etat_PCI             33949
T16                      0
T17                      0
T18                      0
T19                      0
T20                      0
CAMION                4944
dtype: int64

In [ ]:
df1 = df.dropna(subset=['Etat_PCI'])
df1.count()

calls_2016           13619
potholes_2016        13619
freeze_thaw_2016     13619
snow_removal_2016    13619
calls_2017           13619
potholes_2017        13619
freeze_thaw_2017     13619
snow_removal_2017    13619
calls_2018           13619
potholes_2018        13619
freeze_thaw_2018     13619
snow_removal_2018    13619
calls_2019           13619
potholes_2019        13619
freeze_thaw_2019     13619
snow_removal_2019    13619
calls_2020           13619
potholes_2020        13619
freeze_thaw_2020     13619
snow_removal_2020    13619
NOM_VOIE             13619
affectation          13619
TYP_VOIE             13619
CLASSE               13619
SENS_CIR             13619
length               13619
Etat_PCI             13619
T16                  13619
T17                  13619
T18                  13619
T19                  13619
T20                  13619
CAMION               13486
dtype: int64

In [ ]:
print(df1.isnull().sum())

calls_2016             0
potholes_2016          0
freeze_thaw_2016       0
snow_removal_2016      0
calls_2017             0
potholes_2017          0
freeze_thaw_2017       0
snow_removal_2017      0
calls_2018             0
potholes_2018          0
freeze_thaw_2018       0
snow_removal_2018      0
calls_2019             0
potholes_2019          0
freeze_thaw_2019       0
snow_removal_2019      0
calls_2020             0
potholes_2020          0
freeze_thaw_2020       0
snow_removal_2020      0
NOM_VOIE               0
affectation            0
TYP_VOIE               0
CLASSE                 0
SENS_CIR               0
length                 0
Etat_PCI               0
T16                    0
T17                    0
T18                    0
T19                    0
T20                    0
CAMION               133
dtype: int64

In [ ]:
# add the category 3 for the empty 133 data 3 = zone interdite excepté pour livraison locale
df1.fillna(value = 3, axis=1, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
# some encoding for all the categories
df1 = pd.concat([df1,pd.get_dummies(df1['affectation'], prefix='affectation')],axis=1)
df1 = pd.concat([df1,pd.get_dummies(df1['TYP_VOIE'], prefix='TYP_VOIE')],axis=1)
df1 = pd.concat([df1,pd.get_dummies(df1['CAMION'], prefix='CAMION')],axis=1)
df1 = pd.concat([df1,pd.get_dummies(df1['CLASSE'], prefix='CLASSE')],axis=1)
df1 = pd.concat([df1,pd.get_dummies(df1['SENS_CIR'], prefix='SENS_CIR')],axis=1)
df1.shape

(13619, 68)

In [ ]:
#drop the table not needed
df1 = df1.drop(['NOM_VOIE','affectation','TYP_VOIE','CAMION','calls_2019',	'potholes_2019',	'freeze_thaw_2019',	'calls_2020'	,'potholes_2020',	'freeze_thaw_2020','snow_removal_2020', 'snow_removal_2019','length','CLASSE','SENS_CIR'], axis=1)

In [ ]:
#df1 = df1.drop(['calls_2019',	'potholes_2019',	'freeze_thaw_2019',	'calls_2020'	,'potholes_2020',	'freeze_thaw_2020','snow_removal_2020', 'snow_removal_2019'], axis=1)

In [ ]:
#sns.pairplot(df1, hue="Etat_PCI")

In [ ]:
# we keep only the data with calls and potholes repareces
df_calls = df1[df1['calls_2018'] + df1['calls_2017'] +df1['calls_2016']>0]
df_potholes = df1[df1['potholes_2018'] + df1['potholes_2017'] +df1['potholes_2016']>0]

In [ ]:
print(df_calls.shape, df_potholes.shape)

(3819, 53) (8881, 53)

In [ ]:
# append the date
df2 = df_calls.append(df_potholes, ignore_index=True)
#df3 = df_calls.append(df_potholes, ignore_index=True,verify_integrity=True)

In [ ]:
print(df2.shape)#, df3.shape)

(12700, 53)

In [ ]:
#drop duplicates
df2.drop_duplicates(inplace=True)

In [ ]:
df2.shape

(9659, 53)

In [ ]:
df2.head(5)

   calls_2016  potholes_2016  ...  SENS_CIR_0  SENS_CIR_1
0           1              0  ...           0           1
1           0              0  ...           1           0
2           0              0  ...           0           1
3           4              0  ...           1           0
4           0              0  ...           1           0

[5 rows x 53 columns]

In [ ]:
#df2 = df2.drop(['length'], axis=1)

In [ ]:
df2 = df2.drop(['potholes_2016','potholes_2017','potholes_2018','T19','T20'], axis=1)

In [ ]:
#df2 = df2.drop(['freeze_thaw_2016','freeze_thaw_2017','freeze_thaw_2018','snow_removal_2016','snow_removal_2017','snow_removal_2018'], axis=1)

In [ ]:
df2.head(5)

   calls_2016  freeze_thaw_2016  ...  SENS_CIR_0  SENS_CIR_1
0           1                86  ...           0           1
1           0                86  ...           1           0
2           0                86  ...           0           1
3           4                86  ...           1           0
4           0                86  ...           1           0

[5 rows x 48 columns]

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
x = df2.drop(['Etat_PCI'], axis=1)
y = df2['Etat_PCI']
sc = StandardScaler()
x = sc.fit_transform(x)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.1, random_state=42)

In [ ]:
for data in [y_train, y_test]:
    print(data.describe())

count    8693.000000
mean        0.508110
std         0.499963
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: Etat_PCI, dtype: float64
count    966.000000
mean       0.534161
std        0.499090
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: Etat_PCI, dtype: float64

K Nearest Neighbors Classifier

In [ ]:
n3 = KNeighborsClassifier(n_neighbors = 3)
n3.fit(x_train, y_train)
pred_n3 = n3.predict(x_test)
print(classification_report(y_test, pred_n3))

              precision    recall  f1-score   support

         0.0       0.67      0.64      0.66       450
         1.0       0.70      0.73      0.71       516

    accuracy                           0.69       966
   macro avg       0.69      0.69      0.69       966
weighted avg       0.69      0.69      0.69       966

In [ ]:
n5 = KNeighborsClassifier(n_neighbors = 5)
n5.fit(x_train, y_train)
pred_n5 = n5.predict(x_test)
print(classification_report(y_test, pred_n5))

              precision    recall  f1-score   support

         0.0       0.67      0.63      0.65       450
         1.0       0.69      0.72      0.71       516

    accuracy                           0.68       966
   macro avg       0.68      0.68      0.68       966
weighted avg       0.68      0.68      0.68       966

Random Forest Classifier

In [ ]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
pred_rf = rf.predict(x_test)
print(classification_report(y_test, pred_rf))

              precision    recall  f1-score   support

         0.0       0.69      0.69      0.69       450
         1.0       0.73      0.73      0.73       516

    accuracy                           0.71       966
   macro avg       0.71      0.71      0.71       966
weighted avg       0.71      0.71      0.71       966

Decision Tree Classifier

In [ ]:
dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)
pred_dt = dt.predict(x_test)
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

         0.0       0.63      0.68      0.65       450
         1.0       0.70      0.65      0.68       516

    accuracy                           0.67       966
   macro avg       0.67      0.67      0.67       966
weighted avg       0.67      0.67      0.67       966

Stochastic Gradient Descent

In [ ]:
sgd = SGDClassifier()
sgd.fit(x_train, y_train)
pred_sgd = sgd.predict(x_test)
print(classification_report(y_test, pred_sgd))

              precision    recall  f1-score   support

         0.0       0.77      0.47      0.59       450
         1.0       0.66      0.88      0.75       516

    accuracy                           0.69       966
   macro avg       0.72      0.68      0.67       966
weighted avg       0.71      0.69      0.68       966

Trying to improve results

In [ ]:
# number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start=50, stop=1000, num=10)]
# number of features to consider at every split
max_features = ['auto', 'sqrt']
# max number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num=10)] + [None]
# min number of samples required to split a node
min_samples_split = [2, 5, 10]
# min number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# method of selecting samples for training each tree
bootstrap = [True, False]

# random grid
random_grid = {'n_estimators': n_estimators,
              'max_features': max_features,
              'max_depth': max_depth,
              'min_samples_split': min_samples_split,
              'min_samples_leaf': min_samples_leaf,
              'bootstrap': bootstrap}

rf_optimized = RandomizedSearchCV(estimator=rf, param_distributions=random_grid, n_iter=100, cv=3, verbose=1, random_state=42)

# print(rf_optimized.best_params_)

rf_optimized.fit(x_train, y_train)
pred_optimized = rf_optimized.predict(x_test)
print(classification_report(y_test, pred_optimized))

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed: 19.4min finished

              precision    recall  f1-score   support

         0.0       0.77      0.64      0.70       450
         1.0       0.73      0.83      0.77       516

    accuracy                           0.74       966
   macro avg       0.75      0.74      0.74       966
weighted avg       0.75      0.74      0.74       966

In [ ]:
print(classification_report(y_test, pred_optimized))
print(rf_optimized.best_params_)

              precision    recall  f1-score   support

         0.0       0.77      0.64      0.70       450
         1.0       0.73      0.83      0.77       516

    accuracy                           0.74       966
   macro avg       0.75      0.74      0.74       966
weighted avg       0.75      0.74      0.74       966

{'n_estimators': 1000, 'min_samples_split': 2, 'min_samples_leaf': 4, 'max_features': 'auto', 'max_depth': 76, 'bootstrap': False}